@font-face {
  font-family: Cooper;
  src: url('../../static/fonts/cooper-black-regular.ttf');
  font-weight: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: "Cooper", serif;
}

body {
  font-family: "Barlow", sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}